.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid #007bff;
  transition: 0.3s;
}

.profile-pic:hover {
  transform: scale(1.05);
}
